* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.4px;
}

body {
    background-color: #f3f3f3;
    background: linear-gradient(
        135deg, #6f6df4, #4c4af4
    );
}